
	
	
<div class="conHolder">   	
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerCropTop2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicBlock2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicChoker2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicLace2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicLogo2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicLong2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicShort2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerPinkFloyd2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	
	
</div>