
<%= @items.each do |item| %>
 <%# link_to new_item_path(items.id) %>
 <div class="wrapper"> 
  <tr>
    <td>
      <div class="image">
        <%= link_to (image_tag item.image_url, :style => "height:280px"), item %>
      </div>
    </td>
    <td>
      <div class="title">
        <%= link_to item.title, item %>
      </div>
      <div class="description">
        <%= item.description %>
      </div>
      <div class="price">
        <%= number_to_currency(item.price, :unit => "pound: ") %>
      </div>
      <div class="links">
        <!--% if session[:login] == 1 %-->
        <% if current_user.admin? %>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
        <% else %>
            <a href="/cart/<%= item.id %>">Add to Cart</a><br /><br />
        <% end %>
      </div>
    </td>
  </tr>
  </div>

<% end %>

</div>
 
<div class="conHolder">   	
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerCropTop2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicBlock2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicChoker2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicLace2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicLogo2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicLong2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerGraphicShort2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Her/HerPinkFloyd2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	
	

</div>