
<div class="conHolder">
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Him/HimCrewTshirtBlack2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	   <%= image_tag"Stills/StockPic/Him/HimCrewTshirtBlue2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Him/HimCrewTshirtPale2.jpg" ,width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Him/HimCrewTshirtStrip2.jpg" ,width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Him/HimGraphicSmoke2.jpg",width:"100%", height:"100%" %> 
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Him/HimGraphicSun2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Him/HimHenleyNavy2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	<a href="#"> <div class="wrapper"> 
	    <%= image_tag"Stills/StockPic/Him/HimLogoBig2.jpg",width:"100%", height:"100%" %>
	<div class="priceWrapper"> <p>name of tshirt</p><p>price info</p></div></div></a>
	
	
	
</div>
